# flyctl launch added from .gitignore
**/bin
**/.bin

**/*.swp

**/*.o
**/*.a
**/*.so

**/.DS_Store

**/node_modules
# we are using pnpm
**/package-lock.json
**/.eslintcache

client/dist

# flyctl launch added from node_modules/.pnpm/tailwindcss@3.3.3/node_modules/tailwindcss/stubs/.gitignore
!node_modules/.pnpm/tailwindcss@3.3.3/node_modules/tailwindcss/stubs/**/*
fly.toml
